<!DOCTYPE html>
<html>


<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" >
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Standup NLP</title>
</head>
<script src="bootstrap-autocomplete.min.js"></script>

<body>
    {% include 'nav.html' %}
</body>

<div class="column">
    <div class="container">
        <div class="container bg-primary" style='border-radius:10px'>
         <center>
        <h1>Word Cloud Creator</h1>
        <br>
        
        <div class="row">
            <div class="col-sm-4">
                <input type='number' id="threshold" step='1' min='0' max='250'
                        value="{{default_threshold}}" style='color:black'></input>
            </div>
            <div class="col-sm-4">
                <select id='name' style='color:black'>
                    {%for n in names%}
                    <option value={{n}}>{{n.title()}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-success" id='submit'>Generate Word Cloud</button>
            </div>
        </div>
        <br>
        </center>
    </div>
    <span id="word_cloud"></span>
</div>
      

<script>
    'use strict';

    function handleResponse(response) {
    $('#word_cloud').html(response);
    }

    let requestRecs = null;

    function getResults() {
        console.log('getting results')
        let url = '/makeWordCloud';

        let data = {};
        data['name'] = $('#name').val()
        data['threshold'] = $('#threshold').val()

        if (requestRecs != null)
            requestRecs.abort();

        requestRecs = $.ajax(
            {
            type: 'POST',
            url: url,
            data: data,
            success: handleResponse
            }
        );
    }

    function setup() {
    $('#submit').on('click', getResults);
    }

    $('document').ready(setup);
</script>

</html>